
@{
    ViewBag.Title = "StallIndex";
}

@model List<MyMvc.Models.ParkInfoViewModel>


@*应用Layu.Css*@

<link href="/AdmianInter/layui/css/layui.css" rel="stylesheet" />

<script src="~/AdmianInter/js/index.js?p=483"></script>
<script src="~/AdmianInter/layui/layui.js"></script>

<script src="~/AdmianInter/page/links/StallIndex.js?"></script>


@using (Html.BeginForm())
{
    <blockquote class="layui-elem-quote news_search">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" value="" name="name" placeholder="请输入区域 :" class="layui-input search_input">
            </div>
            <input type="submit" name="name" class="layui-btn" value="查询" />
        </div>
        <div class="layui-inline">
            <input type="button" name="name" class="layui-btn layui-btn-normal newsAdd_btn" onclick="location.href='/UserMvc/StallAdd'" value="添加车位" />
        </div>

        <div class="layui-inline">
            <a class="layui-btn layui-btn-danger batchDel">批量删除</a>
        </div>

    </blockquote>
}
<div class="layui-form links_list">
    <table class="layui-table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose">
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                        <i class="layui-icon"></i>
                    </div>
                </th>
                <th>编号</th>
                <th>区域</th>
                <th>状态</th>
                <th>级别</th>
                <th>数据操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checked" class="checked1" value="@m.WID" data-id="@m.WID" lay-skin="primary" lay-filter="choose">
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                            <i class="layui-icon"></i>
                        </div>
                    </td>
                    <td>@m.WID</td>
                    <td>@m.Place</td>
                    <td>
                        @if (m.Situation == 0)
                        {
                            <span>空闲</span>

                        }
                        @if (m.Situation == 1)
                        {
                            <span>已预约</span>

                        }
                        @if (m.Situation == 2)
                        {
                            <span>已占</span>

                        }
                    </td>
                    <td>@m.Tname</td>
                    <td>
                        <a>
                            @Html.ActionLink("编辑", "StallUpdate", new { @id = m.WID }, new { @class = "layui-btn layui-btn-mini links_edit" })

                        </a><a class="layui-btn layui-btn-danger layui-btn-mini links_del" data-id="@m.WID">
                            <i class="layui-icon"></i> 删除
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
